# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [63]:
import os;

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [6]:
[i+1 for i in range(50)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [24]:
[i for i in range(2,202) if i%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [11]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [12]:
[j for i in a for j in i]

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [32]:
[j for i in a for j in i if j>=0.5 ]

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [19]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [33]:
[k for i in b for j in i for k in j]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

In [39]:
lst=[]

for i in b:
    for j in i:
        for k in j:
                lst.append(k)
                
print(lst)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [62]:
[j[-1] for i in b for j in i if j[-1]>=0.5]

[0.51293743, 0.56266457]

In [51]:
lst=[]

for i in b:
    for j in i:
        for k in j:
            if j[-1]>=0.5:
                lst.append(j[-1])
            
print(set(lst))

{0.51293743, 0.56266457}

#### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [70]:
os.getcwd()
os.chdir('C:\\Users\\Camille\\Documents\\Ecole\\Ironhack\\Week 1\\0323_2020DATAPAR\\Labs\\module_1\\List-Comprehension\\data')

In [82]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-win_amd64.whl (8.7 MB)
Collecting numpy>=1.13.3
  Downloading numpy-1.18.2-cp37-cp37m-win_amd64.whl (12.8 MB)
Requirement already satisfied: pytz>=2017.2 in c:\users\camille\anaconda3\anaconda33\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\camille\anaconda3\anaconda33\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\camille\anaconda3\anaconda33\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.18.2 pandas-1.0.3

In [83]:
import pandas as pd

In [89]:
file_list = [f for f in os.listdir() if f.endswith('.csv')]

print(file_list)

['sample_file_0.csv', 'sample_file_1.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_6.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'sample_file_9.csv']

In [99]:
data_sets = [pd.read_csv(os.path.join('C:\\Users\\Camille\\Documents\\Ecole\\Ironhack\\Week 1\\0323_2020DATAPAR\\Labs\\module_1\\List-Comprehension\\data', f)) for f in file_list]
data=pd.concat(data_sets, axis=0)

data
pd.read_csv('sample_file_0.csv')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947

### Bonus

Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)

In [102]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [112]:
# insert values

[-i for i in range(1,6)]
[-i for i in [-1,2,-3,4,-5]]
[-i for i in []]

[]

In [ ]:
Complete the square sum function so that it squares each number passed into it 
and then sums the results together.

For example, for [1, 2, 2] it should return 9 because 1^2 + 2^2 + 2^2 = 9.

In [125]:
#sum square
sum([i**2 for i in [1,2,2]])

9

In [ ]:
123 => [1,2,3]

1 => [1]

8675309 => [8,6,7,5,3,0,9]

In [157]:
#digitalize

number=str(123)
lst=[]
    
for i in range(len(str(number))):
    lst.append(int(number[i]))
    
print(lst)

[1, 2, 3]

[0, 1, 2, 3]

In [183]:
number=123
lst=[]
    
for i in range(len(str(number))):
    lst.append(int(str(number)[i]))
    
print(lst)

[1, 2, 3]

In [184]:
[int(str(number)[i]) for i in range(len(str(number)))]

[1, 2, 3]

In [ ]:
filter_list([1,2,'a','b']) == [1,2]
filter_list([1,'a','b',0,15]) == [1,0,15]
filter_list([1,2,'aasf','1','123',123]) == [1,2,123]

In this kata you will create a function that takes a list of non-negative integers and strings 
and returns a new list with the strings filtered out.

In [ ]:
lst = [1,2,'a','b']
lst2 = []

for i in lst:
    if type(i) == int:
        lst2.append(i)

print(lst2)