# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [356]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [357]:
# your code here
print(np)

<module 'numpy' from 'C:\\Users\\Camille\\Anaconda3\\Anaconda33\\lib\\site-packages\\numpy\\__init__.py'>

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [358]:
# Method 1
a=np.random.random((2,3,5))

In [392]:
# Method 2
np.random.random((30)).reshape(2,3,5)

array([[[0.52126334, 0.81444452, 0.73591344, 0.90499043, 0.24394683],
        [0.9163173 , 0.23901983, 0.51874702, 0.69030019, 0.59538838],
        [0.86276614, 0.63282865, 0.3138402 , 0.41711822, 0.8945147 ]],

       [[0.13986952, 0.62507089, 0.9362172 , 0.65967425, 0.94430719],
        [0.821594  , 0.65610077, 0.96977056, 0.96362129, 0.90576389],
        [0.96159683, 0.07186939, 0.92559203, 0.74701669, 0.97183596]]])

In [395]:
np.random.sample((2,3,5))

array([[[0.60035105, 0.43996018, 0.97534729, 0.53029054, 0.1295986 ],
        [0.19567037, 0.50798318, 0.29443489, 0.66605501, 0.6675156 ],
        [0.83823846, 0.83705765, 0.12853896, 0.80043899, 0.72894217]],

       [[0.80934526, 0.79812986, 0.5906361 , 0.09016994, 0.14942952],
        [0.48859276, 0.01403027, 0.81394797, 0.62464295, 0.31436424],
        [0.34371312, 0.66619824, 0.89247215, 0.70877559, 0.83712454]]])

In [396]:
np.random.rand()

0.19322727798602257

In [360]:
# Method 3
np.empty((5,2,3))

array([[[0.49509732, 0.13919178, 0.68071778],
        [0.01616004, 0.24161927, 0.34333712]],

       [[0.25836888, 0.84062622, 0.89092604],
        [0.04130787, 0.09077122, 0.45028567]],

       [[0.11684901, 0.46154509, 0.3595673 ],
        [0.31472409, 0.54777009, 0.32008396]],

       [[0.38700051, 0.02197762, 0.58541692],
        [0.8830782 , 0.85884329, 0.81204669]],

       [[0.33211531, 0.74636979, 0.87380105],
        [0.74695106, 0.195562  , 0.00785182]]])

#### 4. Print *a*.

In [361]:
# your code here
a

array([[[0.7893481 , 0.1638363 , 0.01339648, 0.61994515, 0.51009637],
        [0.86924758, 0.8429678 , 0.00786014, 0.66995964, 0.9133954 ],
        [0.03152556, 0.27804646, 0.73069616, 0.51813875, 0.89570227]],

       [[0.12262608, 0.89937532, 0.84911903, 0.22716409, 0.58025998],
        [0.01142951, 0.70358115, 0.4907548 , 0.61922004, 0.92713064],
        [0.88838304, 0.21584285, 0.59590722, 0.1126425 , 0.10502352]]])

In [362]:
a.shape

(2, 3, 5)

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [363]:
# your code here
np.ones((5,2,3), dtype=np.int16)

array([[[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]]], dtype=int16)

In [364]:
b=np.full((5,2,3), 1)

#### 6. Print *b*.

In [365]:
# your code here
b

array([[[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [366]:
# your code here
a.shape==b.shape

False

In [397]:
a.size==b.size

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [367]:
# your answer here
"They don't have the same shape so we're not able to add them."

"They don't have the same shape so we're not able to add them."

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [368]:
# your code here
x=b.transpose()
x.shape

(3, 2, 5)

In [398]:
b.transpose((1,2,0))

array([[[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]]])

In [369]:
c=b.reshape(2,3,5)
c.shape

(2, 3, 5)

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [370]:
# your code/answer here
d=a+c

In [371]:
"""It works because they are the same shape"""

'It works because they are the same shape'

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [372]:
# your code/answer here
print('a= ',a,'\n d= ',d)

a=  [[[0.7893481  0.1638363  0.01339648 0.61994515 0.51009637]
  [0.86924758 0.8429678  0.00786014 0.66995964 0.9133954 ]
  [0.03152556 0.27804646 0.73069616 0.51813875 0.89570227]]

 [[0.12262608 0.89937532 0.84911903 0.22716409 0.58025998]
  [0.01142951 0.70358115 0.4907548  0.61922004 0.92713064]
  [0.88838304 0.21584285 0.59590722 0.1126425  0.10502352]]]
 d=  [[[1.7893481  1.1638363  1.01339648 1.61994515 1.51009637]
  [1.86924758 1.8429678  1.00786014 1.66995964 1.9133954 ]
  [1.03152556 1.27804646 1.73069616 1.51813875 1.89570227]]

 [[1.12262608 1.89937532 1.84911903 1.22716409 1.58025998]
  [1.01142951 1.70358115 1.4907548  1.61922004 1.92713064]
  [1.88838304 1.21584285 1.59590722 1.1126425  1.10502352]]]

In [373]:
"""d-a=d"""

'd-a=d'

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [399]:
# your code here
e=np.multiply(a,c)
e

array([[[0.7893481 , 0.1638363 , 0.01339648, 0.61994515, 0.51009637],
        [0.86924758, 0.8429678 , 0.00786014, 0.66995964, 0.9133954 ],
        [0.03152556, 0.27804646, 0.73069616, 0.51813875, 0.89570227]],

       [[0.12262608, 0.89937532, 0.84911903, 0.22716409, 0.58025998],
        [0.01142951, 0.70358115, 0.4907548 , 0.61922004, 0.92713064],
        [0.88838304, 0.21584285, 0.59590722, 0.1126425 , 0.10502352]]])

In [400]:
a*c

array([[[0.7893481 , 0.1638363 , 0.01339648, 0.61994515, 0.51009637],
        [0.86924758, 0.8429678 , 0.00786014, 0.66995964, 0.9133954 ],
        [0.03152556, 0.27804646, 0.73069616, 0.51813875, 0.89570227]],

       [[0.12262608, 0.89937532, 0.84911903, 0.22716409, 0.58025998],
        [0.01142951, 0.70358115, 0.4907548 , 0.61922004, 0.92713064],
        [0.88838304, 0.21584285, 0.59590722, 0.1126425 , 0.10502352]]])

In [375]:
c.shape

(2, 3, 5)

In [376]:
a.shape

(2, 3, 5)

#### 13. Does *e* equal to *a*? Why or why not?

In [377]:
# your code/answer here
a==e
"""Yes, e is equal to a as c is a 1 matrix"""

'Yes, e is equal to a as c is a 1 matrix'

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [378]:
# your code here
d_max=d.max()
d_min=d.min()
d_mean=d.mean()
print("max=",d_max," min=",d_min," mean=",d_mean)

max= 1.9271306382319227  min= 1.0078601404990262  mean= 1.5067540643551423

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [379]:
# your code here
f=np.empty((2,3,5))

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [380]:
d[1,1,1]
d.shape

(2, 3, 5)

In [381]:
d[1,2,2]

1.5959072156885858

In [382]:
range(2)

range(0, 2)

In [383]:
# your code here
for i in range(2):
    for j in range(3):
        for k in range(5):
            if (d[i,j,k]>d_min) & (d[i,j,k]<d_mean):
                f[i,j,k]=25
            elif (d[i,j,k]>d_mean) & (d[i,j,k]<d_max):
                f[i,j,k]=75
            elif d[i,j,k]==d_mean:
                f[i,j,k]=50
            elif d[i,j,k] ==d_min:
                f[i,j,k]=0
            elif d[i,j,k] ==d_max:
                f[i,j,k]=100

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [384]:
print("max=",d_max," min=",d_min," mean=",d_mean)

max= 1.9271306382319227  min= 1.0078601404990262  mean= 1.5067540643551423

In [385]:
# your code here
print("d=",d,"\n f=",f)

d= [[[1.7893481  1.1638363  1.01339648 1.61994515 1.51009637]
  [1.86924758 1.8429678  1.00786014 1.66995964 1.9133954 ]
  [1.03152556 1.27804646 1.73069616 1.51813875 1.89570227]]

 [[1.12262608 1.89937532 1.84911903 1.22716409 1.58025998]
  [1.01142951 1.70358115 1.4907548  1.61922004 1.92713064]
  [1.88838304 1.21584285 1.59590722 1.1126425  1.10502352]]]
 f= [[[ 75.  25.  25.  75.  75.]
  [ 75.  75.   0.  75.  75.]
  [ 25.  25.  75.  75.  75.]]

 [[ 25.  75.  75.  25.  75.]
  [ 25.  75.  25.  75. 100.]
  [ 75.  25.  75.  25.  25.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [ ]:
# your code here
"""for i in range(2):
    for j in range(3):
        for k in range(5):
            if (d[i,j,k]>d_min) & (d[i,j,k]<d_mean):
                f[i,j,k]='A'
            elif (d[i,j,k]>d_mean) & (d[i,j,k]<d_max):
                f[i,j,k]='B'
            elif d[i,j,k]==d_mean:
                f[i,j,k]="C"
            elif d[i,j,k] ==d_min:
                f[i,j,k]="D"
            elif d[i,j,k] ==d_max:
                f[i,j,k]="E""""

In [ ]:
### def transformation(x):
"""    if x=='0':
        x="A"
    elif x=='25':
        x="B"
    elif x=='50':
        x="C"
    elif x==b'75.0':
        x="D"
    elif x=='100':
        x="E"
    return x
transformation('0')"""

In [387]:
g=f.astype(str)
g

array([[['75.0', '25.0', '25.0', '75.0', '75.0'],
        ['75.0', '75.0', '0.0', '75.0', '75.0'],
        ['25.0', '25.0', '75.0', '75.0', '75.0']],

       [['25.0', '75.0', '75.0', '25.0', '75.0'],
        ['25.0', '75.0', '25.0', '75.0', '100.0'],
        ['75.0', '25.0', '75.0', '25.0', '25.0']]], dtype='<U32')

In [388]:
#g=np.asarray(f,dtype=np.string_)

In [389]:
# your code here
for i in range(2):
    for j in range(3):
        for k in range(5):
            if g[i,j,k]=='0.0':
                g[i,j,k]='A'
            elif g[i,j,k]=='25.0':
                g[i,j,k]='B'
            elif g[i,j,k]=='50.0':
                g[i,j,k]="C"
            elif g[i,j,k]=='75.0':
                g[i,j,k]="D"
            elif g[i,j,k]=='100.0':
                g[i,j,k]="E"

In [390]:
g

array([[['D', 'B', 'B', 'D', 'D'],
        ['D', 'D', 'A', 'D', 'D'],
        ['B', 'B', 'D', 'D', 'D']],

       [['B', 'D', 'D', 'B', 'D'],
        ['B', 'D', 'B', 'D', 'E'],
        ['D', 'B', 'D', 'B', 'B']]], dtype='<U32')

In [391]:
g.dtype

dtype('<U32')