# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:
employees=pd.read_csv("https://raw.githubusercontent.com/ta-data-par/data-labs/master/module-2/lab-hypothesis-testing/Current_Employee_Names__Salaries__and_Position_Titles.csv")

In [15]:
employees.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

In [95]:
employees.shape

(33183, 8)

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
employees.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:
employees.groupby("Salary or Hourly")[("Name")].count()

Salary or Hourly
Hourly     8022
Salary    25161
Name: Name, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:
employees.groupby("Department")[("Name")].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [23]:
# Your code here:
from scipy.stats import ttest_1samp
from scipy.stats import t

H0: the hourly wage of workers = 30
<p>H1: hourly wage != 30</p>
<p>95% two sided confidence interval</p>

In [21]:
employees["Hourly Rate"].mean()

32.78855771628023

In [22]:
employees["Hourly Rate"].std()

12.112572684276799

In [31]:
employee_hour=employees["Hourly Rate"].dropna()

In [33]:
ttest_1samp(employee_hour,30.0)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [24]:
t.interval(0.95,df=8021)

(-1.9602597859561675, 1.9602597859561675)

In [35]:
#p value is smaller than 0.05 so we can reject the hypothesis H0, 
#meaning hourly wage is significantly different from 30 dollars.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [65]:
# Your code here:
police=employees.loc[employees["Department"]=="POLICE"]
police_salary=police["Annual Salary"].dropna()

In [66]:
police_salary.mean()

86486.41450313339

In [67]:
police_salary.std()

18272.22829399308

In [82]:
police.shape

(13414, 8)

In [68]:
ttest_1samp(police_salary,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

H0 = salary=86000 ???
<p>H1 = salary< 86000 </p>
<p>H2 salary> 86000

In [69]:
# statistic is positive, and pvalue < 0.5 so salaries are not higher than 86000.

Using the `crosstab` function, find the department that has the most hourly workers.

In [41]:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [58]:
# Your code here:
table=pd.pivot_table(employees,values="Name", index=['Salary or Hourly'],columns=['Department'], aggfunc='count').T.drop(columns="Salary").dropna()
table.sort_values(by=['Hourly'],ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN          1862.0
WATER MGMNT            1513.0
OEMC                   1273.0
AVIATION               1082.0
GENERAL SERVICES        765.0
TRANSPORTN              725.0
PUBLIC LIBRARY          299.0
FAMILY & SUPPORT        287.0
CITY COUNCIL             64.0
FINANCE                  44.0
LAW                      40.0
ANIMAL CONTRL            19.0
POLICE                   10.0
MAYOR'S OFFICE            8.0
CULTURAL AFFAIRS          7.0
BUSINESS AFFAIRS          7.0
HUMAN RESOURCES           4.0
COMMUNITY DEVELOPMENT     4.0
HEALTH                    3.0
FIRE                      2.0
PROCUREMENT               2.0
BUDGET & MGMT             2.0

In [94]:
table.Hourly.sum()

8022.0

In [93]:
# STREETS & SAN	 has the most hourly workers.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [61]:
# Your code here:
workers_s=employees.loc[employees["Department"]=="STREETS & SAN"]
workers_s_hour=workers_s["Hourly Rate"].dropna()

In [62]:
workers_s_hour.mean()

33.72837808807734

In [63]:
workers_s_hour.std()

5.735241841459235

In [64]:
ttest_1samp(workers_s_hour,35.0)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [70]:
# Indeed their hourly wage is less than 35 ... ? Since pvalue <0.5

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [73]:
# Your code here:
from scipy.stats import t

In [75]:
t.interval(0.95,df=8021, loc=employees["Hourly Rate"].mean(), scale=employees["Hourly Rate"].std())

(9.044768578821273, 56.532346853739185)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [83]:
# Your code here:
t.interval(0.95,df=13413, loc=police["Annual Salary"].mean(), scale=police["Annual Salary"].std())

(50670.27315117577, 122302.55585509102)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [90]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [97]:
#hourly workers proportions
p_hourly=8022/33183
p_hourly

0.24175029382515142

In [102]:
proportions_ztest(p_hourly, 0.25, 0.95)

(0.04758676836912079, 0.9620455773950698)

In [101]:
proportions_ztest(p_hourly, 0.25, 0.05)

(2.566712109702597, 0.01026678121479882)